# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcresult
project.xcworkspace/
project.dependency/

# Swift Package Manager
.build/
.swiftpm/

# Temporary / Archives
archives/
